@import url('/web/20090307040916cs_/http://www.msnbc.msn.com/default.ashx/id/21589548');
/*
     FILE ARCHIVED ON 04:09:16 Mar 07, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:49:33 Apr 14, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.978
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.059
  cdx.remote: 0.06
  esindex: 0.011
  LoadShardBlock: 87.316 (3)
  PetaboxLoader3.datanode: 92.48 (4)
  load_resource: 171.683
  PetaboxLoader3.resolve: 107.367
*/